@using DysonNetwork.Shared.Models
@model DysonNetwork.Shared.Models.SnPublicationSite

<div class="flex flex-col md:flex-row gap-6">
    <div class="flex flex-col gap-4 flex-1">
        <div class="card bg-base-100 border">
            <div class="card-body">
                <h3 class="card-title"><span class="mdi mdi-home"></span> Info</h3>

                <div class="space-y-2">
                    <div class="flex justify-between">
                        <span class="flex gap-2">
                            <span class="mdi mdi-label"></span>
                            Name
                        </span>
                        <span class="text-right">@Model.Name</span>
                    </div>
                </div>
                <div class="space-y-2">
                    <div class="flex justify-between">
                        <span class="flex gap-2">
                            <span class="mdi mdi-tag"></span>
                            Slug
                        </span>
                        <span class="text-right font-mono">@Model.Slug</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-4 flex-1">
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="flex-1">
                <div class="card bg-base-100 border">
                    <div class="card-body">
                        <h3 class="card-title">
                            <span class="mdi mdi-information"></span> Description
                        </h3>
                        <div class="prose prose-sm max-w-none">
                            @Model.Description
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="flex-1">
            <div class="flex flex-col p-5 opacity-80 text-sm">
                <p>Proudly powered by the Solar Network Pages</p>
                <p>Hosted on the Solar Network</p>
                <p class="mt-2">Network powered by Cloudflare</p>
                <p>Therefore, if the site is down, 99% is Cloudflare's fault</p>
            </div>
        </div>
    </div>
</div>