@page "//auth/login"
@model DysonNetwork.Sphere.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login | Solar Network";
    var returnUrl = Model.ReturnUrl ?? "";
}

<div class="hero min-h-full bg-base-200">
    <div class="hero-content w-full max-w-md">
        <div class="card w-full bg-base-100 shadow-xl">
            <div class="card-body px-8 py-7">
                <h1 class="card-title justify-center text-2xl font-bold">Welcome back!</h1>
                <p class="text-center">Login to your Solar Network account to continue.</p>
                <form method="post" class="mt-4">
                    <input type="hidden" asp-for="ReturnUrl" value="@returnUrl"/>
                    <div class="form-control">
                        <label class="label" asp-for="Username">
                            <span class="label-text">Username</span>
                        </label>
                        <input asp-for="Username" class="input input-bordered w-full"/>
                        <span asp-validation-for="Username" class="text-error text-sm mt-1"></span>
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary w-full">Next</button>
                    </div>
                    <div class="text-sm text-center mt-4">
                        <span class="text-base-content/70">Have no account?</span> <br/>
                        <a href="https://solian.app/#/auth/create-account" class="link link-primary">
                            Create a new account →
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}