@page "/Error/{statusCode?}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    ViewData["SiteName"] = Model.SiteName ?? "main";
}

<div class="h-screen flex justify-center items-center">
    <div class="text-center max-w-120">
        <img src="~/favicon.png" width="80" height="80" alt="Logo" class="mb-1 mx-auto"/>
        <h1 class="text-2xl">@(Model.StatusCode?.ToString() ?? "Error")</h1>
        <p>Something went wrong...</p>
        <p class="text-sm opacity-80 mt-1">Powered by the Solar Network Pages</p>
        <div class="text-xs opacity-70 mt-1">
            <p>Path: <b>@Model.CurrentPath</b></p>
            <p>Site ID: <b>@(Model.Site?.Id.ToString() ?? "none")</b></p>
            @if (Model.ShowRequestId)
            {
                <p>Request ID: <b>@Model.RequestId</b></p>
            }
        </div>
    </div>
</div>