@page
@model IndexModel

@{
    Layout = "_LayoutContained";
    ViewData["Title"] = "Solar Network Pages";
}

<div class="h-full flex justify-center items-center">
    <div class="text-center max-w-96">
        <img src="~/favicon.png" width="80" height="80" alt="Logo" class="mb-1 mx-auto"/>
        <h1 class="text-2xl">Hello World 👋</h1>
        <p>Here are the Solar Network Pages</p>
    </div>
</div>
